.view[data-v-28111bc4]{position:absolute;width:100%;height:100%;-webkit-transition:all .5s;transition:all .5s}.fade-enter-active[data-v-28111bc4]{-webkit-transition:opacity .5s;transition:opacity .5s;opacity:0}.fade-enter-to[data-v-28111bc4]{opacity:1}.fade-leave-active[data-v-28111bc4]{-webkit-transition:opacity .5s;transition:opacity .5s;opacity:1}.fade-leave-to[data-v-28111bc4]{opacity:0}



